* {
    font-family: 'Sansita', sans-serif;
}

#show-adventures {
    display: none;
}

.adventures {
    cursor: pointer;
    color: #0088cc;
}

.adventures:hover {
    text-decoration: underline;
}
